/* @theme minecraft-on-marp */
/* @size 16:9 true */

@import 'default';


/* -------------- */
/* Common  slides */
/* -------------- */


/* Color library */
:root{
    --gray: #C7BDB6;
    --darker-gray: #7F7F7F;
    --dirt-color: #79553A;
    --grass-color: #649F3B;

    --text-color: #DDD;
    --text-shadow: #000A;

    --sky-color: #83A5FB; 

    --text-color: #FFF;
}

@font-face {
    font-family: Minecraft;
    src: url(../assets/fonts/minecraft-seven-classic.ttf);
}

*{
    font-family: Minecraft;  
    text-shadow: 2pt 2pt var(--text-shadow);
    color: var(--text-color);
    font-size: 16pt;
}

section{
    box-sizing: border-box;	

    background-color: var(--sky-color);
    background-repeat: no-repeat;

    /* Default border image */
    border-image: url(../assets/borders/emerald_block.png) 16 / 16px / 0 round;
}

h1, h2, h3, h4{font-weight: 100; padding: 0;}

h1{
    margin: 0 0 0.5em 0;
    color: var(--gray);
}

h2, h3{
    margin: 0 0 0.3em 0;
    color: var(--darker-gray);
}

h4 {color: var(--grass-color);}

blockquote{
    margin: 0;
    padding: 0.5em 1em;

    font-size: 0.7em;
    color: var(--sky-color);
}

/* Slide image caption */
section > p:first-of-type, section > p:first-of-type a {
    color: var(--darker-gray);
    text-align: right;
}

section > p:first-of-type {
    position: absolute;
    right: 26px;
    bottom: 50px;
}

section > p:first-of-type a {
    font-size: 1em;
}

/* Subcaption */
section > p:first-of-type > em{
    opacity: 65%;
    font-size: 0.9em;
}

section > p:first-of-type > em{
    color: var(--darker-gray);
}

li{
    list-style: none;
    font-size: 0.9em;
}

/* Sets the list icons */
li::before{
    image-rendering: pixelated;
    background-image: url(../assets/defaulttexturepack/gui/sprites/hud/air.png);
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: inline-block;
    margin-right: 10px;

    height: 32px;
    width: 32px;
}

/* Nested list items */
li li::before{
    image-rendering: pixelated;
    background-image: url(../assets/defaulttexturepack/gui/sprites/hud/air_bursting.png);
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: inline-block;
    margin-right: 20px;

    height: 32px;
    width: 32px;
}

pre{
    margin: 0;
}

img {
    background-color: transparent !important;
    border: 4px solid black;
    box-shadow: inset -16px -32px var(--text-shadow), inset 16px 16px var(--darker-gray);
}

img[alt~="icon"]{
    border: none;
    box-shadow: none;
    image-rendering: pixelated !important;
    position: absolute;
    width: 32px !important;
    height: 32px !important;
    bottom: 32px;
    left: 32px;
    z-index:999;
}

img[alt~="icon"]:nth-of-type(2){
    left: 80px;  
}








/* -------------- */
/* Minecraft menu */
/* -------------- */


section.menu{
    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: url(../assets/panorama.png);
    background-size: 5940px 4200px;
    border: 0;
    font-size: 18pt;

    animation-name: pancam;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Animates the background movement */
@keyframes pancam {
    0%   {background-position: -1000px -2000px;}
    25%  {background-position: -2000px -1750px;}
    50%  {background-position: -3000px -1750px;}
    100% {background-position: -4000px -2000px;}
}

/* Allows enabling of blur */
section.menu pre{
    position: absolute;

    width: 5940px;
    height: 4200px;

    background: none;
    backdrop-filter: blur(0px);
    border: 0;
    
    z-index:0;
}

/* Disable slide image caption behaviour */
section.menu > p:first-of-type{
    position: relative;
    right: 0;
    bottom: 0;
}

section.menu img{
    display: flex; 
   
    margin: 0 auto;
    padding: 0;

    object-fit: cover;

    border: none;
    box-shadow: none;
    
}

/* Minecraft */
section.menu img:nth-of-type(1){
    width: 70%;
    margin-bottom: -11%;
}

/* Java Edition */
section.menu img:nth-of-type(2){
    width: 35%;
    margin-bottom: 3%;
}

section.menu h1 {
    position: relative;
    top: -20%;
    left: 31%;
    transform: rotate(-15deg);

    color: yellow;
    text-align: left;
    text-shadow: 4px 4px var(--text-shadow);

    animation-name: text;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    white-space: nowrap;
}

/* Animation for yellow menu text */
@keyframes text {
    0%   {transform: rotate(-15deg) scale(1);}
    50%  {transform: rotate(-15deg) scale(1.1);}
    100% {transform: rotate(-15deg) scale(1);}
}

/* Essential for proper highlighting and static text size */
section.menu *, section.menu ::before, section.menu ::after {
    z-index: 2;
    box-sizing: border-box;	margin: 0; padding: 0;
}


/* The menu layout */
section.menu ul {
    --btn-size: 43pt;
    display: grid;
    grid-template-columns: var(--btn-size) calc(var(--btn-size) * 10) var(--btn-size);
    grid-template-rows: repeat(3, var(--btn-size)) 16px var(--btn-size);
    grid-template-areas:
    '. first .'
    '. second .'
    '. third .'
    '. .  .'
    'lang duo access'
    ;
    grid-gap: 12px;
}

/* Sets all the button positions... theres probably a better way of doing this */
section.menu ul li:nth-of-type(1){ grid-area: first; }
section.menu ul li:nth-of-type(2){ grid-area: second;}
section.menu ul li:nth-of-type(3){ grid-area: third; }
section.menu ul li:nth-of-type(4){ grid-area: lang;  }
section.menu ul li:nth-of-type(5){ grid-area: duo;    width: 49%                  }
section.menu ul li:nth-of-type(6){ grid-area: duo;    margin-left: 52%; width: 49%}
section.menu ul li:nth-of-type(7){ grid-area: access }

/* Menu icons */
section.menu ul li:nth-of-type(7) img, section.menu ul li:nth-of-type(4) img{
    padding-bottom: 4pt;
}

/* Removes list icons */
section.menu ul li::before{
    background: none;
    width: 0;
}

/* Minecraft button */
section.menu ul li {
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%; 
    height: 100%;

    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;

    background: url(../assets/defaulttexturepack/gui/sprites/widget/button.png) center / cover;
    image-rendering: pixelated;
    border: 2px solid black;
    list-style: none;
    color: var(--text-color);
    text-shadow: 2px 2px var(--text-shadow);
}

/* Mouse over */
section.menu ul li:hover {
    text-shadow: 2px 2px #202013CC;
    border: 3px solid white;
}

/* Menu icons mouse over */
section.menu ul li:nth-of-type(7):hover img, section.menu ul li:nth-of-type(4):hover img{
    padding-bottom: calc(4pt - 1px);
}

/* Bottom text */
section.menu h2{
    position: absolute;
    bottom: 0;
    color: var(--text-color);
    font-size: 0.9rem;
}

/* Version */
section.menu h2:nth-of-type(1){
    left: 5px;
    text-align: left;
}

/* Copyright */
section.menu h2:nth-of-type(2){
    right: 5px;
    text-align: right;
}

section.menu h2:nth-of-type(2):hover{
    text-decoration: underline;
    text-decoration-thickness: 4pt;
}
